.netrwhist

# General
!*.md
configstore/update-notifier-npm.json
configstore/*
local/*
*.backup

# Zsh
zsh/zsh_history
zsh/.zsh_history
zsh/.zcompdump
zsh/.zcompcache
zsh/.zsh_sessions

# Vim
plug.vim
vim/plugged/*
vim/tmp/*
viminfo

# Other
gh/
gcloud/
NuGet/
